@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* universal */

body{
	// padding-top: 60px;
}
section{
	overflow: auto;
}
textarea{
	resize: vertical;
}
.center{
	text-align: center;
	h1{
		margin-bottom: 10px;
	}
}

/* typography */

/* header */
header{
	background-color: #eee;
}
#logo{
	float: left;
	margin-right: 10px;
	font-size: 1.7em;
	// color: #000;
	letter-spacing: -1px;
	padding-top: 9px;
	font-weight: bold;
	&:hover{
		// color: #000;
	}
}

/* games_list */

.game_list{
	list-style: none;
	padding: 0;
	li{
		padding: 10px 0;
		border-top: 1px solid #e8e8e8;
	}
	.date{
		color: $gray-light;
	}
	.tournament{
		color: $gray-light;
	}
	.content{
		display: block;
	}
}