<header class="navbar">
	<div class="container">
		<%= link_to "日本代表の試合", root_url, id: "logo" %>
		<nav>
			<ul class="nav navbar-nav navbar-right">
				<li><a>01</a></li>
				<li><a>02</a></li>
				<li><a>03</a></li>
			</ul>
		</nav>
	</div>
</header>